            .logo {
                width: 150px;
                height: 150px;
                transition: 1s;
                -webkit-transition: 1s;
            }

            .logo:hover {
                width: 200px;
                height: 200px;
            }

            body {
                font-family: 'Lucida Sans';
            }

            body h1 {
                text-align: center;
                transition: 1s linear;
                -webkit-transition: 1s linear;
            }
            body h1:hover {
                text-align: center;
                transform: skewX(30deg);
                
                
            }
            h1 { 
                display: block;
                font-size: 2em;
                margin-top: 0.67em;
                margin-bottom: 0.67em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;
            }
            h2 {
                display: block;
                font-size: 1.5em;
                margin-top: 0.83em;
                margin-bottom: 0.83em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;
            } 
            h3 { 
                display: block;
                font-size: 1.17em;
                margin-top: 1em;
                margin-bottom: 1em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;
            }
            h4 { 
                display: block;
                font-size: 1em;
                margin-top: 1.33em;
                margin-bottom: 1.33em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;
            }
            h5 { 
                display: block;
                font-size: .83em;
                margin-top: 1.67em;
                margin-bottom: 1.67em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;
            }
            h6 { 
                display: block;
                font-size: .67em;
                margin-top: 2.33em;
                margin-bottom: 2.33em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;
            }
            p {
                display: block;
                margin-top: 1em;
                margin-bottom: 1em;
                margin-left: 0;
                margin-right: 0;
            }
            .parent {
                display: flex;
                flex-direction: row;
            }

            .column {
                flex: 1;
                border: solid 3px;
                box-shadow: 5px 5px 0 #3f403f;
            }

            .column:active {
                background-color: black;
                color: white;
                box-shadow: 0 0 0;
            }

            .iframeWrapper {
                text-align: center;
                height: 400px;
            }

            #Descrp-header {
                background-color: black;
                color: white;
                text-align: center;
                margin-top: auto;
                padding-top: 10px;
                padding-bottom: 15px;
            }

            .column p {
                font-size: 25px;
                margin: 10px;
            }

            .moreButton {
                border: solid 2px black;
                width: 100%;
                text-align: center;
                font-size: 25px;
                text-transform: capitalize;
                padding-top: 2%;
                padding-bottom: 2%;
                color: darkblue;
                cursor: pointer;
                transition: all .1s linear;
            }

            .moreButton:hover {
                background-color: lightgrey;

            }

            .moreButton:hover span {
                position: relative;
                animation: jump 4s infinite;
                -webkit-animation: jump 4s infinite;
            }

            @keyframes jump {
                0% {top: 0px;}
                25% {top: -10px;}
                50% {top: 0px;}
                75% {top: -10px;}
                100% {top: 0px;}
            }
            @-webkit-keyframes jump {
                0% {top: 0px;}
                25% {top: -10px;}
                50% {top: 0px;}
                75% {top: -10px;}
                100% {top: 0px;}
            }

            .moreButton:active {
                box-shadow: 0 2px 0 #006599;
                transform: translateY(3px);
            }

            #moreExercises {
                display: none;
            }

            .bodyImg {
                width: 100px;
                height: 100px;
            }

            .tableTitle {
                text-align: center;
                margin-bottom: 1px;
            }

            .input-icons .search-icon {
                position: absolute;
            }

            .input-icons {
                width: 100%;
            }

            .search-icon {
                padding: 10px;
                min-width: 10px;
            }

            form {
                padding: 10px;
                padding-left: 20px;
            }

            form div input {
                width: 180px;
                height: 25px;
                font-size: 25px;
                border: solid 2px;
                padding-left: 30px;
                padding-top: 4px;
                padding-bottom: 4px;
                -webkit-transition: width 2s;
                transition: width 2s;

            }

            form div input:focus {
                width: 220px;
            }

            .tableStyle {
                background-color: black;
                width: 100%;
                font-size: 25px;
            }

            td {
                background-color: white;
                padding-left: 1%;
            }

            td:hover {
                background-color: darkgrey;
            }

            td a {
                width: 100%;
                display: inline-block;
                text-decoration: none;
                color: black;
                position: relative;
                transition: 1s;
                -webkit-transition: 1s;
            }

            td a:hover {
                transform: translateX(15px)
            }
