#logo {
    width:150px;
    height:150px;
}

#profile_btn {
    position: relative; 
    bottom: 150px; 
    text-align: right; 
    padding-right: 10px
}

#table {
    width:575px;
    padding-left: 50px;
    padding-right: 50px;
}

img {
    width:100px;
    height:100px; 
}
