img.sty
{
    width:150px;
    height:150px;
}

input.shape
{
    width: 220px; 
    padding-top: 8px;
    padding-bottom: 8px; 
    padding-left: 8px; 
    border-radius: 5px; 
    border: 1.5px solid;
    border-color: gray;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}   

input.shape:focus
{
    background-color: dimgray;
    color: white;
     outline: none;   
    
}

input.shape::placeholder
{
    color: lightgray;
   
}

p.wordE
{
    font-Size: 25px;
    font-family: sans-serif;
    text-align: center;
    position: relative; 
    right: 80px; 
    }

p.wordN
{
    font-Size: 25px;
    font-family: sans-serif;
    text-align: center;
    position: relative; 
    right: 45px; 
    }

p.wordP
{
    font-Size: 25px;
    font-family: sans-serif;
    text-align: center;
    position: relative; 
    right: 55px; 
    }

p.wordNP
{
    font-Size: 25px;
    font-family: sans-serif;
    text-align: center;
    position: relative; 
    right: 25px; 
    }

p.wordCP
{
    font-Size: 25px;
    font-family: sans-serif;
    text-align: center;
    position: relative; 
    right: 5px; 
    }

p.SP
{
    font-size: 18px;
   text-align: center;
    position: relative; 
    right: 45px; 
}

button.sub
{
   width:150px; 
    height:50px;
    border-radius: 25px; 
    border: 1.5px solid; 
    display: block;
    background-color: white;
    border-color: gray;
  margin-left: auto;
  margin-right: auto;
    color: gray;
    outline: none;
}

button.sub:hover
{
   background-color: gray; 
    color: white;
}

button.del
{
   width:150px; 
    height:50px;
    border-radius: 25px; 
    border: 1.5px solid; 
    display: block;
    background-color: white;
    border-color: red;
  margin-left: auto;
  margin-right: auto;
    color: red;
    outline: none;
}

button.del:hover
{
   background-color: red; 
    color: white;
}

.modal-backdrop.show {
   background-color: indianred; 
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 170px;
  background-color: whitesmoke;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: dimgrey;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: dimgrey;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

